<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205339256828-43pm7u36b6jgmaeekn7qd6ki7oqmc4bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205339256828-43pm7u36b6jgmaeekn7qd6ki7oqmc4bk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>205339256828-euuo1qmqjioj1op9qeo02t1ko6jvg4k8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDawiPlPj7qctZYVFZGcIZdJFmQPuDTlrk</string>
	<key>GCM_SENDER_ID</key>
	<string>205339256828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.walletiesMobile</string>
	<key>PROJECT_ID</key>
	<string>walleties-59f0f</string>
	<key>STORAGE_BUCKET</key>
	<string>walleties-59f0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205339256828:ios:43093a2e12712371b7b479</string>
	<key>DATABASE_URL</key>
	<string>https://walleties-59f0f.firebaseio.com</string>
</dict>
</plist>